<form action="/"method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="names" placeholder="Amani" name="names" value="">
        <label for="names">Enter Names</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="gender" placeholder="M/F" name="gender" value="">
        <label for="gender">Enter Gender</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="contact" placeholder="0713989740" name="contact" value="">
        <label for="contact">Phone Number</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="gender" placeholder="Kilifi" name="recidence" value="">
        <label for="recidence">County of Residence</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="amanikai@gmail.com" name="email" value="">
        <label for="email">Email <Address></Address></label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="password" name="password" value="">
        <label for="password">Enter Password</label>
      </div>
      <div><button class="btn btn-primary" type="submit">Button</button> </div>
</form>